#home-container{
    background-image: url("../../Images/Fondo\ de\ pantalla.png");
    width: 100vw;
    height: 100vh;
    box-shadow: inset 100vw 0vh rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
#cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    height: 67vh;
}
#img-loading{
    max-height: 300px;
    display: block;
}
#p-loading{
    margin:0;
    padding: 0;
    position: static;
    text-shadow: none;
}
#img-not-found{
    max-height: 300px;
    display: block;
}
#p-not-found{
    margin:0;
    padding: 0;
    position: static;
    text-shadow: none;
}